@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: black;
}

main {
  height: 100%;
  background-image: radial-gradient(
    circle at var(--spotlight-center-x) var(--spotlight-center-y),
    hsla(0deg 0% 100% / 15%),
    hsla(0deg 0% 100% / 15%) var(--spotlight-radius-inner),
    transparent var(--spotlight-radius-outer)
  );
  background-attachment: fixed;
  display: grid;
  grid-template-rows: auto 1fr;
}

main > header {
  display: flex;
  align-items: center;
  justify-content: center;
}

main > header h1 {
  font-family: "Audiowide", sans-serif;
  font-weight: normal;
  color: white;
  padding-top: 120px;
  font-size: 48px;
}

.level-selector-outer-wrapper {
  display: flex;
  justify-content: center;
}

.level-selector {
  width: 1200px;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 120px;
  gap: 40px;
}

.level {
  background-color: hsla(0deg 0% 100% / 7%);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  font-family: "Audiowide", sans-serif;
}

.level::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background-color: hsl(0deg 0% 10%);
  opacity: 95%;
  z-index: 1;
}

.level-inner-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 32px;
  color: white;
  z-index: 2;
}

.level:hover::before {
  content: "";
  position: absolute;
  aspect-ratio: 1 / 1;
  min-width: 141.43%;
  min-height: 141.43%;
  top: 50%;
  left: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
  opacity: 95%;
  z-index: 1;
  background: conic-gradient(
    white,
    transparent,
    transparent,
    transparent,
    transparent,
    white,
    transparent,
    transparent,
    transparent,
    transparent,
    white
  );
  animation: border-spin 3s linear infinite;
  transform-origin: 50% 50%;
}

.level:hover::after {
  background-color: hsl(0deg 0% 15%);
  opacity: 1;
}

@keyframes border-spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
